/* Variables */
:root{
    /* Color */
    --nav-bcolor:#00A08F;
    --body-color:#ddf0f0;
    /* Tipografía */
    /* Espaciado */
}

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Chau Philomene One', sans-serif;
    background-color: var(--body-color);
    
}

body{
    height: 100%;

}

.container{
    max-width: 1030px;
    /* width: 100%; */
    margin: 0 auto;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
}

/* Navegación */

nav{
    width: 100%;
    background-color: var(--nav-bcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding-right: 40px;
    color: white;
}
nav li a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px #03355A;
    font-size: 30px;
}
nav li a:hover{
    color: grey;
}

.brand_image{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-filter: drop-shadow( 3px 3px 4px rgba(0, 0, 0, .5));
    filter: drop-shadow( 3px 3px 4px rgba(0, 0, 0, 0.5));
}

.nav_logo{
    padding-left: 30px;
}

.inicio a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 2px 2px 2px #03355A;
}

.inicio a:hover{
color: grey;
}
/* Sección Principal/ Hero */

.main_section{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 1500px;
}


.main_section h1{
    color: white;
    background-color: #F66747;
    margin: 0 auto;
    width: 1150px;
    height: 120px;
    border-radius: 20px;
    letter-spacing: 1px;
    text-shadow: 8px 8px 8px #ae3217;
    position: relative;
    z-index: 3;
    font-size: 70px;
}

.main_section img{
    margin: auto;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0 0 10px #E3D4FF;
    position: relative;
    z-index: 2;
}

.main_button{
    height: 60px;
    width: 240px;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: #885bf3;
    margin-top: -80px;
    font-size: 45px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #310d7b;
    padding-bottom: 5px;
    position: relative;
    z-index: 3;
}

.main_button:hover{
    background-color: #773cf1;
}

.background_main_section{
    background-image: url("../images/Componente\ 1\ –\ 1.svg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    z-index: 0;
}

/* Products */

.products{
    display: flex;
    border: 1px solid inherit;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.name_product{
    display: flex;
    letter-spacing: 2px;
    color: white;
    border: 1px solid #FF9F52;
    background-color: #FF9F52;
    border-radius: 30px;
    height: 100px;
    width: 300px;
    margin: auto auto;
    position: relative;
    text-shadow: 5px 8px 8px #ae5a16;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.name_product h2{
    font-size: 40px;
    margin: 0px auto;
    padding: 20px 90px;
}

.name_product a{
    color: white;
    text-decoration:none;
}

.name_product:hover{
    background-color: #F66747;
    text-shadow: 5px 8px 8px #af381d;
    cursor:pointer;
}


.product img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -100px;
}



.price_product h2{
    height: 40px;
    width: 160px;
    margin: auto;
    color: white;
    background-color: #885bf3;
    text-shadow: 2px 2px 2px #310d7b;
    letter-spacing: 1px;
    align-items: center;
    margin-top: -50px;
    position: relative;
    letter-spacing: 1px;
}
/* Products CSS+*/

.message{
    margin: auto;
    margin-top: 80px;
    height: 50px;
    width: 930px;
    text-align: center;
    color: white;
    background-color: #885bf3;
    text-shadow: 2px 2px 2px #310d7b;
}

.main_button_product{
    margin: 0 auto;
    margin-top: 80px;
    height: 70px;
    width: 260px;
}

.main_button_product a{
    padding: 0 10px 0 10px;
}

/* Footer */

.contact{
    background-color: #00A08F;;
    color: white;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.social{
    align-items: flex-end;
}

.social a {
    background-repeat: no-repeat;
    margin-right: 40px;
    align-items: flex-end;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;

}

.social-link.twitter{
    background-image: url("../images/twitter-seeklogo.com.svg");
    background-size: 50px 50px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.social-link.facebook{
    background-image: url("../images/Facebook_f_logo_\(2019\).svg");
    background-size: 50px 50px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.social-link.instagram{
    background-image: url("../images/instagram-bosquejado.svg");
    background-size: 50px 50px;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    
}

.form-text {
    padding: 8px 20px 8px 30px;
    margin-left: 20px;
    border-style: solid;
    border-color: white;
    background-image: url("../images/Envelope_font_awesome.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position-y: center;
    background-position-x: 5px;      
}


.form-email h3{
    margin-left: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px #03355A;
}

.form-email button{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    display: block;
    margin-top: 10px;
    background:transparent;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px #03355A;
}

.form-email button:hover{
    color: rgb(187, 183, 183);
    cursor: pointer;
}

.footer{
    margin: 0px;
    background-color: #03355A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 20px;
    letter-spacing: 1px;
    padding-right: 20px;
    height: 30px;
    margin-bottom: 0px;
}

.footer-design p{
    margin:-10px;
    text-shadow: 3px 3px 3px #012541;
    letter-spacing: 0.5px;
}

.footer-design a{
    color: #20d1d1;
    text-decoration: none;
    text-shadow: none;
}

.footer-design a:hover{
    color: #037fbd;
}

.footer img{
vertical-align: middle;
}

/* FORMA DE PEGAR EL FOOTER ABAJO */
.footernosotros{
    position:relative;
    bottom: 0;  
    width: 100%;
}

/* NOSOTROS */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.modulo_pago{
    margin: 10px 1px;
    background-color:  #FF9F52;
    box-shadow: 2px 2px 2px #03355A;
    padding: 15px;
    padding-left: 22px;
    height: 535px;
    width: 800px;
    color: white;
    text-shadow: 4px 4px 4px #c54022;
    text-align: center;

}

.box_modulopago{
    background-color: #F66747;
    padding: 10px;
}

.box_modulopago h2{
    margin: 0 ;
    font-size: 30px;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    letter-spacing: 1px;
}

.roles{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    
}

.number h2{
    padding-left: 10px;

}

.modulo_pagoImg img{
    object-fit: cover;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.modulo_pagoText{
    text-align: center;
    color: white;
    background-color: #F66747;
    text-shadow: 4px 4px 4px #d03a18;
    padding: 1px;
}
.modulo_pagoText h3{
    letter-spacing: 1.5px;
    margin: 5px;
    font-size: 40px;
}
.modulo_pagoText p{
    letter-spacing: 1px;
    margin: 5px;
    font-size: 20px;
}

/* VIDEO*/ 

.video{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_section_VID{
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 1500px;
    justify-content: center;
    align-items: center;
}
.videopiloto video{
    margin: 0 auto;

}
.h1-container-VID h1{
    color: white;
    background-color: #F66747;
    margin: 0 auto;
    width: 900px;
    height: 90px;
    border-radius: 20px;
    letter-spacing: 1px;
    text-shadow: 8px 8px 8px #ae3217;
    position: relative;
    z-index: 3;
    font-size: 50px;
    padding-top: 15px;
}

.contenedorvideo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlaceYT{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-decoration: none;
}

.enlaceYT h2{
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 660px;
    margin: auto;
    color: white;
    background-color: #ff9946;
    text-shadow: 6px 6px 6px #e47012;
    letter-spacing: 1px;
    align-items: center;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
}

.enlacedeYT{
    text-decoration: none;
    color: white;
}

.enlaceYT h2:hover{
    cursor: pointer;
    background-color: #F66747;
    text-shadow: 6px 6px 6px #d14728;
}

/* DIBUJOS*/

.members{
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container_dibujos{
    margin-top: 0px;
}

.members{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.members_text{
    position: relative;
    top: -150px;
    border: 1px solid #F66747;
    height: 150px;
    width: 450px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F66747;
    color: white;
    text-shadow: 4px 4px 4px #da4726;
}

.members_text h2{
    font-size: 80px;
    margin: 20px 10px;
    align-self: auto;
    text-align: center;
}

/* IMAGE ORIGINAL */

.members_image{
    border: 1px solid #F66747;
    background-image: url(../images/Pasteleros2.jpg);
    height: 450px;
    width: 510px;
    background-size: cover;
}

.members_image img{
    object-fit: cover;
    flex-shrink: 0;
    object-fit: cover;
}

/* IMAGES OTRAS */

.members_image_Pablo{
    border: 1px solid #F66747;
    background-image: url(../images/Ilustraciones/Pablo.png);
    height: 450px;
    width: 510px;
    background-size: cover;
}

.members_image_Abuelo{
    border: 1px solid #F66747;
    background-image: url(../images/Ilustraciones/Abuelo.png);
    height: 450px;
    width: 510px;
    background-size: cover;
}

.members_image_Abuela{
    border: 1px solid #F66747;
    background-image: url(../images/Ilustraciones/Abuela.png);
    height: 450px;
    width: 510px;
    background-size: cover;
}

.members_image_Mounstro{
    border: 1px solid #F66747;
    background-image: url(../images/Ilustraciones/Mounstro.png);
    height: 450px;
    width: 510px;
    background-size: cover;
}

.members_image_Cap{
    border: 1px solid #F66747;
    background-image: url(../images/Ilustraciones/Cap.png);
    height: 450px;
    width: 510px;
    background-size: cover;
}

/* CUENTOS */
.player{
    margin-top: 30px;
    position: relative;
    width: 500px;
    background: #FF9F52;
    box-shadow: 5px 5px 5px #d5782c;
    border-radius: 10px;
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.imgBx h2{
    text-shadow: 4px 4px 4px #da7523;
}

.player .imgBx{
    position: relative;
    width: 100%;
    height: 50px;
}

.player .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player audio{
    width: 100%;
    outline: none;
}
.cuentotexto{
    width: 1550px;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
}

.cuentotexto2 h3{
    margin-top: 40px;
    width: 1250px;
    text-align: justify;
    padding: 20px;
    background-color: cornsilk;
    background: #01547C;
    color: white;
    text-shadow: 4px 4px 4px #03355A;
    letter-spacing: 1px;
}

